{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
        <div>
            <p class="message2">
                Welcome to Chinwekzy movie rater, your best and personalised movie rating plug, where we display movie ratings of other users-
                including the one's you rate. The movies range from Hollywood, Nollywood, Bollywood and other movie divisions; all depends on the user.
                The site offers a unique mode of rating where our users are not restricted to a recognised movie on movie sites.
                You can also leave comments for others to find, also read comments and ratings left by others to enable you search and watch movies you like
                faster.
            </p>
        </div>
{% endblock %}